

  header{
               display: block;
                width: 1013px;
                height: 40px;
                background-color: #234659;
				background-image: url(../Исходные материалы/images/2.jpg);
				margin: 2px;
				padding: 3px;
													
				
            }
			html{
			background-color:#4B96BF;	
				
			}
			
			
			
            body{
                max-width: 1020px    ;
                min-width: 500px;
                margin-left:auto;
                margin-right: auto;
				background-color: #FFFFFF;
				
				
				
            }
            p {
                font-size: 25px;
                text-align: justify;
				margin-top: 50px;
				margin-left: 10px;
				margin-right: 10px;
			
				
				

            }
			
			
            img {
                margin: 20px;
            }
			
		    footer{
				display: block;
               background-color: #234659;
			   text-align: right;		
               font-size: 16px; 
			    margin-top: 300px;
			padding: 10px;
			}
			
				
				
			
			   
			
			  
			h2{
			  font-size: 30px;
			  border-bottom: 3px solid maroon;
			  padding-bottom: 2px;
			  margin-top: 50px;
			}
			span {
				text-align: center;
				font-size: 40px
				
				
				
			}
			 a { 
    text-decoration: none;
			 }
			 
	 a:hover { 
    text-decoration: underline;
			 }
			 
			
			  
			  
			  
			  
			  
			   
			
			
			
			 
			
			  